body{
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
}

body *{
    font-family: sans-serif;
}

#mainHeading{
    margin-top: 50px;
    color: white;
    font-size: 40px;
    margin-bottom: 50px;
    text-align: center;

}

/* h3{ */
    /* margin-top: 40px; */
    /* color: white; */
    /* font-size: 40px; */
    /* background-color: green; */
    /* width: 80%; */
    /* margin-left: 100px ; */
/*  */
/* } */

.eventsGrid{
    /* background-color: green; */
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(400px ,450px));
    /* flex-direction: column; */
    /* grid-gap: 40px; */
    align-items: center;
    justify-content: center;
    width: 80vw;
}

.eventContainer{
    margin: 30px;   
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: max-content; */
    /* border: 2px solid red; */


}

.singleEvent{
    height: 50vh;
    /* margin: 30px; */
    /* width: max-content; */
    padding: 5px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
  
}

.singleEvent img{
    /* height: 100%; */
    width: 100%;
   
}